* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.nav{
    background-color: coral;
    padding: 10px;
    text-align: end;
}

.nav a{
    margin: 0px 10px 0px 10px;
}

.cardmain{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.card{
    border: 2px, solid, black;
    padding: 10px;
    margin: 20px 5px 5px 5px;
    text-align: center;
}

.card p{
    padding: 5px;
}

.card button{
    color: #0f1111;
    background-color: #ffa41c;
    padding: 5px 5rem 5px 5rem;
    margin: 5px;
    border: none;
    border-radius: 15px;
}

.card button:hover{
    background-color: #ffd814;
}